body {
  font-family: serif;
}

.navbar {
  border-bottom: 1px black;
  align-items: center;
  display: flex;
}

.tab {
  background-color: green;
  margin: 0.16em;
  padding: 0.64em;
  text-decoration-line: none;
}

.code {
  font-family: monospace;
}